.post-type-archive-obituary #primary {
    margin: 0;
    padding-top: 30px;
    padding-bottom: 90px;
}
.listing-obituary, .obituary-inner {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.obituary-inner > * {
    width: 100%;
}
.listing-obituary {
    gap: 12px;
}
.listing-obituary .obituary-card {
    padding: 35px 30px;
    border-radius: 15px;
    border: 1px solid #afafaf;
    background: #fafafa;
}
.listing-header * {
    font-family: var(--font-josefin);
}
.listing-header h2 {
    font-size: 50px;
    line-height: 50px;
    font-weight: var(--fw-regular);
    margin-bottom: 8px;
}
.listing-header p {
    font-size: 18px;
    line-height: 24px;
    font-weight: var(--fw-light);
}
.obituary-listing-slider .swiper-slide {
    padding: 8px 16px;
    border-radius: 5px;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.25);
    background: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}
.obituary-listing-slider .swiper-slide:hover {
    background: #eee;
}
.obituary-listing-slider .swiper-slide.selected {
    background: #FFD582;
    pointer-events: none;
}
.obituary-listing-slider .swiper-wrapper {
    padding: 5px 0;
}
.obituary-listing-slider .swiper-slide-inner {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 15px;
    justify-content: flex-start;
    align-items: stretch;
}
.obituary-thumbnail {
    width: 60px;
    height: 100%;
}
.obituary-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}
.obituary-content {
    flex: 1;
}
.obituary-prefix, .obituary-dates {
    line-height: 18px;
    font-weight: var(--fw-regular);
    font-family: var(--font-josefin);
}
.obituary-prefix {
    font-size: 10px;
}
.obituary-name {
    font-family: var(--font-julius-sans-one);
    font-weight: 400;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 24px;
}
.obituary-dates {
    font-size: 12px;
}
.obituary-details .obituary-details-row, .obituary-map-navigation .ob-row, .undertaker-list {
    padding-top: 50px;
}
.obituary-details h4 {
    margin-bottom: 25px;
}
.obituary-details-slider .swiper-slide {
    border-radius: 15px;
    overflow: hidden;
}
.obituary-details .obituary-details-pagination, .obituary-slider-container .ob-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    bottom: 0;
    margin-top: 12px;
}
.obituary-details-pagination .swiper-pagination-bullet, .obituary-slider-container .ob-pagination .swiper-pagination-bullet {
    margin: 0;
    width: 10px;
    height: 10px;
    background: #D9D9D9;
    opacity: 1;
}
.obituary-details-pagination .swiper-pagination-bullet:not(.swiper-pagination-bullet-active):hover, .obituary-slider-container .ob-pagination .swiper-pagination-bullet:not(.swiper-pagination-bullet-active):hover {
    background: #c3c3c3;
}
.obituary-details-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active, .obituary-slider-container .ob-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #FFD582;
}
.undertaker-list .undertaker-list-item {
    font-family: var(--font-josefin);
    font-weight: var(--fw-light);
}
.undertaker-list .cn-text {
    font-weight: var(--fw-bold);
}
.obituary-map-navigation .ob-row, .ob-row, .ob-col, .ob-map-nav {
    display: flex;
    align-items: flex-start;
}
.obituary-map-navigation .ob-row, .ob-row {
    justify-content: space-between;
}
.ob-row {
    gap: 25px;
}
.ob-col, .ob-map-nav {
    gap: 12px;
}
.ob-col.col-map {
    gap: 6px;
}
.ob-map-item {
    width: 42px;
    height: 42px;
}
.ob-map-item a, .ob-map-item img {
    display: block;
    width: 100%;
}
.ob-map-link.waze {
    margin-top: 2px;
}
.listing-gallery .obituary-gallery-box {
    display: none;
    margin-top: 30px;
}
.obituary-gallery-box .obituary-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.obituary-gallery-box .obituary-header, .obituary-gallery-box .obituary-body {
    width: 100%;
}
.ob-gallery-header {
    margin-bottom: 25px;
}
body.vp-popup-opened {
    overflow: hidden;
}
.verification-popup {
    display: none;   
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}
.vp-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    z-index: 1;
}
.verification-popup .wp-form-wrapper {
    position: absolute;
    top: 90px;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 12px;
    overflow: hidden;
    background: #fff;
    width: 100%;
    max-width: 90%;
    z-index: 1;
}
.wp-form {
    padding: 50px 25px 30px;
}
.wp-form.obituary-search-form {
    padding: 0;
    margin-bottom: 50px;
}
.wp-form.obituary-search-form input.input-control, .wp-form.obituary-search-form .btn.btn-submit {
    border-radius: 20px;
}
.wp-form.obituary-search-form input.input-control {
    padding-left: 45px;
}
.wp-form.obituary-search-form .btn.btn-submit {
    padding: 4px 16px;
    font-size: 16px;
    line-height: 26px;
}
.wp-icon-magnify-glass {
    display: block;
    position: absolute;
    width: 22px;
    height: 22px;
    top: 50%;
    left: 15px;
    transform: translate(0, -50%);
    background-image: url(/~tangstud/singapore-ancestry/wp-content/uploads/2025/04/icon-magnify-glass.svg);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 1;
}
.wp-form, .wp-row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.wp-form {
    gap: 25px;
}
.wp-form-group {
    display: block;
    width: 100%;
}
.wp-row-header {
    justify-content: center;
}
.verify-obituary-gallery .wp-row.wp-row-footer {
    justify-content: flex-end;
}
@media (max-width: 767px) {}
@media (max-width: 375px) {
    .listing-obituary.listing-gallery .ob-row {
        gap: 15px;
    }
    .listing-obituary.listing-gallery .ob-row .ob-col.col-share {
        flex-direction: column;
        align-items: flex-end;
    }
}
@media (min-width: 768px) {
    .post-type-archive-obituary .site-content .ast-container {
        max-width: 80%;
        padding: 0 25px;
    }
    .obituary-gallery-box .ob-gallery-body {
        max-width: 80%;
        margin: auto;
    }
    .verification-popup .wp-form-wrapper {
        max-width: 450px;
    }
    .wp-form.obituary-search-form .wp-row {
        width: auto;
    }
    .wp-form.obituary-search-form .wp-row.wp-row-body {
        width: 350px;
    }
}
@media (min-width: 1200px) {
    .verification-popup .wp-form-wrapper {
        max-width: 600px;
    }
}
@media (min-width: 1200px) and (max-width: 1439px) {
    .obituary-listing-slider .swiper-slide {
        padding: 6px 12px;
    }
    .obituary-listing-slider .swiper-slide-inner {
        gap: 8px;
    }
    .obituary-prefix {
        font-size: 9px;
    }
    .obituary-name {
        font-size: 12px;
        line-height: 20px;
    }
    .obituary-dates {
        font-size: 10px;
    }
}
@media (min-width: 1800px) {
    .obituary-prefix {
        font-size: 14px;
    }
    .obituary-name {
        font-size: 20px;
        line-height: 28px;
    }
    .obituary-dates {
        font-size: 16px;
    }
}