@media (max-width: 767px) {
    :root {
        --font-size: 14px;
    }
    .ast-separate-container #content .ast-container, .obituary-details, .obituary-map-navigation, .listing-gallery .listing-body .obituary-card.obituary-gallery-box {
        padding-left: 25px;
        padding-right: 25px;
    }
    .share-popup {
        width: 300px;
    }
    .share-popup .share-input {
        width: 210px;
    }
    .listing-obituary .listing-body .obituary-card {
        padding: 30px 0;
    }
    .obituary-listing-slider .swiper-slide {
        width: 270px;
    }
	.user-review-slider .swiper-slide {
		width: 280px;
	}
	.user-review-slider-container .user-review-nav {
		width: 40px;
		height: 40px;
		border-radius: 20px;
	}
	.user-review-slider-container .user-review-nav.nav-prev {
		left: 6px;
	}
	.user-review-slider-container .user-review-nav.nav-next {
		right: 6px;
	}
	.sa-login-button, #hamburger-container .eael-simple-menu-toggle-text {
		display: none;
	}
	#hamburger-container {
		position: absolute;
		left: 20px;
		width: 50px;
	}
	#masthead .eael-simple-menu {
/* 		margin-left: -70px;
		width: 100vw; */
		width: max-content;
		padding: 16px 24px;
		background: #fff;
	}
	#masthead .eael-simple-menu > .menu-item:not(:last-child) {
		margin-bottom: 4px;
	}
	#masthead .eael-simple-menu .sa-login-button {
		display: block;
	}
	#masthead .eael-simple-menu-toggle {
		top: 7px;
	}
    .grid-gallery .grid-item {
        width: calc( 50% - 10px );
    }
    .ast-scroll-to-top-right {
        right: 25px;
        bottom: 50px;
    }
}

@media (min-width: 768px) {
    :root {
        --font-size: 16px;
    }
    .mx-md-auto, .ms-md-auto {
        margin-left: auto;
    }
    .mx-md-auto, .me-md-auto {
        margin-right: auto;
    }
    .my-md-auto, .mt-md-auto {
        margin-top: auto;
    }
    .my-md-auto, .mb-md-auto {
        margin-bottom: auto;
    }
    .mx-md-0, .ms-md-0 {
        margin-left: 0;
    }
    .mx-md-0, .me-md-0 {
        margin-right: 0;
    }
    .my-md-0, .mt-md-0 {
        margin-top: 0;
    }
    .my-md-0, .mb-md-0 {
        margin-bottom: 0;
    }
    .mx-md-1, .ms-md-1 {
        margin-left: .25rem;
    }
    .mx-md-1, .me-md-1 {
        margin-right: .25rem;
    }
    .my-md-1, .mt-md-1 {
        margin-top: .25rem;
    }
    .my-md-1, .mb-md-1 {
        margin-bottom: .25rem;
    }
    .mx-md-2, .ms-md-2 {
        margin-left: .5rem;
    }
    .mx-md-2, .me-md-2 {
        margin-right: .5rem;
    }
    .my-md-2, .mt-md-2 {
        margin-top: .5rem;
    }
    .my-md-2, .mb-md-2 {
        margin-bottom: .5rem;
    }
    .mx-md-3, .ms-md-3 {
        margin-left: 1rem;
    }
    .mx-md-3, .me-md-3 {
        margin-right: 1rem;
    }
    .my-md-3, .mt-md-3 {
        margin-top: 1rem;
    }
    .my-md-3, .mb-md-3 {
        margin-bottom: 1rem;
    }
    .mx-md-4, .ms-md-4 {
        margin-left: 1.5rem;
    }
    .mx-md-4, .me-md-4 {
        margin-right: 1.5rem;
    }
    .my-md-4, .mt-md-4 {
        margin-top: 1.5rem;
    }
    .my-md-4, .mb-md-4 {
        margin-bottom: 1.5rem;
    }
    .mx-md-5, .ms-md-5 {
        margin-left: 3rem;
    }
    .mx-md-5, .me-md-5 {
        margin-right: 3rem;
    }
    .my-md-5, .mt-md-5 {
        margin-top: 3rem;
    }
    .my-md-5, .mb-md-5 {
        margin-bottom: 3rem;
    }
    .gap-md-1 {
        gap: 0.25rem;
    }
    .gap-md-2 {
        gap: 0.5rem;
    }
    .gap-md-3 {
        gap: 1rem;
    }
    .gap-md-4 {
        gap: 1.5rem;
    }
    .gap-md-5 {
        gap: 3rem;
    }
    .share-popup {
        width: 500px;
    }
    .share-popup .share-input {
        width: 410px;
    }
    .share-popup p {
        flex: 1;
    }
    .elementor-widget-eael-simple-menu .elementor-widget-container > div {
        display: flex;
        align-items: center;
    }
	.sa-login-button a {
		white-space: nowrap;
	}
	#masthead .eael-simple-menu {
		margin-right: -32px;
	}
	#masthead .eael-simple-menu .sa-login-button {
		display: none;
	}
	#masthead .elementor-widget-eael-simple-menu {
		margin-right: -24px;
	}
    #masthead .elementor-widget-eael-simple-menu .eael-simple-menu {
        display: flex;
        flex-direction: row;
        gap: 24px;
    }
    #masthead .elementor-widget-eael-simple-menu .eael-simple-menu .menu-item > a::before {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 1px;
        background: var(--primary-green);
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0) scaleX(0);
        transform-origin: center;
        transition: all 0.35s ease;
    }
    #masthead .elementor-widget-eael-simple-menu .eael-simple-menu .current_page_item > a::before, 
    #masthead .elementor-widget-eael-simple-menu .eael-simple-menu .menu-item > a:hover::before {
        transform: translate(-50%, 0) scaleX(1);
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .grid-gallery .grid-item {
        width: calc( 33.33333333% - 14px );
    }
}
@media (min-width: 992px) {
    .mx-lg-auto, .ms-lg-auto {
        margin-left: auto;
    }
    .mx-lg-auto, .me-lg-auto {
        margin-right: auto;
    }
    .my-lg-auto, .mt-lg-auto {
        margin-top: auto;
    }
    .my-lg-auto, .mb-lg-auto {
        margin-bottom: auto;
    }
    .mx-lg-0, .ms-lg-0 {
        margin-left: 0;
    }
    .mx-lg-0, .me-lg-0 {
        margin-right: 0;
    }
    .my-lg-0, .mt-lg-0 {
        margin-top: 0;
    }
    .my-lg-0, .mb-lg-0 {
        margin-bottom: 0;
    }
    .mx-lg-1, .ms-lg-1 {
        margin-left: .25rem;
    }
    .mx-lg-1, .me-lg-1 {
        margin-right: .25rem;
    }
    .my-lg-1, .mt-lg-1 {
        margin-top: .25rem;
    }
    .my-lg-1, .mb-lg-1 {
        margin-bottom: .25rem;
    }
    .mx-lg-2, .ms-lg-2 {
        margin-left: .5rem;
    }
    .mx-lg-2, .me-lg-2 {
        margin-right: .5rem;
    }
    .my-lg-2, .mt-lg-2 {
        margin-top: .5rem;
    }
    .my-lg-2, .mb-lg-2 {
        margin-bottom: .5rem;
    }
    .mx-lg-3, .ms-lg-3 {
        margin-left: 1rem;
    }
    .mx-lg-3, .me-lg-3 {
        margin-right: 1rem;
    }
    .my-lg-3, .mt-lg-3 {
        margin-top: 1rem;
    }
    .my-lg-3, .mb-lg-3 {
        margin-bottom: 1rem;
    }
    .mx-lg-4, .ms-lg-4 {
        margin-left: 1.5rem;
    }
    .mx-lg-4, .me-lg-4 {
        margin-right: 1.5rem;
    }
    .my-lg-4, .mt-lg-4 {
        margin-top: 1.5rem;
    }
    .my-lg-4, .mb-lg-4 {
        margin-bottom: 1.5rem;
    }
    .mx-lg-5, .ms-lg-5 {
        margin-left: 3rem;
    }
    .mx-lg-5, .me-lg-5 {
        margin-right: 3rem;
    }
    .my-lg-5, .mt-lg-5 {
        margin-top: 3rem;
    }
    .my-lg-5, .mb-lg-5 {
        margin-bottom: 3rem;
    }
    .gap-lg-1 {
        gap: 0.25rem;
    }
    .gap-lg-2 {
        gap: 0.5rem;
    }
    .gap-lg-3 {
        gap: 1rem;
    }
    .gap-lg-4 {
        gap: 1.5rem;
    }
    .gap-lg-5 {
        gap: 3rem;
}
}
@media (min-width: 1200px) {
    :root {
        --font-size: 18px;
    }
    .mx-xl-auto, .ms-xl-auto {
        margin-left: auto;
    }
    .mx-xl-auto, .me-xl-auto {
        margin-right: auto;
    }
    .my-xl-auto, .mt-xl-auto {
        margin-top: auto;
    }
    .my-xl-auto, .mb-xl-auto {
        margin-bottom: auto;
    }
    .mx-xl-0, .ms-xl-0 {
        margin-left: 0;
    }
    .mx-xl-0, .me-xl-0 {
        margin-right: 0;
    }
    .my-xl-0, .mt-xl-0 {
        margin-top: 0;
    }
    .my-xl-0, .mb-xl-0 {
        margin-bottom: 0;
    }
    .mx-xl-1, .ms-xl-1 {
        margin-left: .25rem;
    }
    .mx-xl-1, .me-xl-1 {
        margin-right: .25rem;
    }
    .my-xl-1, .mt-xl-1 {
        margin-top: .25rem;
    }
    .my-xl-1, .mb-xl-1 {
        margin-bottom: .25rem;
    }
    .mx-xl-2, .ms-xl-2 {
        margin-left: .5rem;
    }
    .mx-xl-2, .me-xl-2 {
        margin-right: .5rem;
    }
    .my-xl-2, .mt-xl-2 {
        margin-top: .5rem;
    }
    .my-xl-2, .mb-xl-2 {
        margin-bottom: .5rem;
    }
    .mx-xl-3, .ms-xl-3 {
        margin-left: 1rem;
    }
    .mx-xl-3, .me-xl-3 {
        margin-right: 1rem;
    }
    .my-xl-3, .mt-xl-3 {
        margin-top: 1rem;
    }
    .my-xl-3, .mb-xl-3 {
        margin-bottom: 1rem;
    }
    .mx-xl-4, .ms-xl-4 {
        margin-left: 1.5rem;
    }
    .mx-xl-4, .me-xl-4 {
        margin-right: 1.5rem;
    }
    .my-xl-4, .mt-xl-4 {
        margin-top: 1.5rem;
    }
    .my-xl-4, .mb-xl-4 {
        margin-bottom: 1.5rem;
    }
    .mx-xl-5, .ms-xl-5 {
        margin-left: 3rem;
    }
    .mx-xl-5, .me-xl-5 {
        margin-right: 3rem;
    }
    .my-xl-5, .mt-xl-5 {
        margin-top: 3rem;
    }
    .my-xl-5, .mb-xl-5 {
        margin-bottom: 3rem;
    }
    .gap-xl-1 {
        gap: 0.25rem;
    }
    .gap-xl-2 {
        gap: 0.5rem;
    }
    .gap-xl-3 {
        gap: 1rem;
    }
    .gap-xl-4 {
        gap: 1.5rem;
    }
    .gap-xl-5 {
        gap: 3rem;
    }
	.user-review-slider {
		display: block;
		max-width: calc( 100% - 180px );
		margin: auto;
	}
	#masthead .elementor-widget-eael-simple-menu {
		margin-right: -32px;
	}
	#masthead .elementor-widget-eael-simple-menu .eael-simple-menu {
		gap: 32px;
	}
}

@media (min-width: 1440px) {
    :root {
        --font-size: 20px;
    }
    .mx-xxl-auto, .ms-xxl-auto {
        margin-left: auto;
    }
    .mx-xxl-auto, .me-xxl-auto {
        margin-right: auto;
    }
    .my-xxl-auto, .mt-xxl-auto {
        margin-top: auto;
    }
    .my-xxl-auto, .mb-xxl-auto {
        margin-bottom: auto;
    }
    .mx-xxl-0, .ms-xxl-0 {
        margin-left: 0;
    }
    .mx-xxl-0, .me-xxl-0 {
        margin-right: 0;
    }
    .my-xxl-0, .mt-xxl-0 {
        margin-top: 0;
    }
    .my-xxl-0, .mb-xxl-0 {
        margin-bottom: 0;
    }
    .mx-xxl-1, .ms-xxl-1 {
        margin-left: .25rem;
    }
    .mx-xxl-1, .me-xxl-1 {
        margin-right: .25rem;
    }
    .my-xxl-1, .mt-xxl-1 {
        margin-top: .25rem;
    }
    .my-xxl-1, .mb-xxl-1 {
        margin-bottom: .25rem;
    }
    .mx-xxl-2, .ms-xxl-2 {
        margin-left: .5rem;
    }
    .mx-xxl-2, .me-xxl-2 {
        margin-right: .5rem;
    }
    .my-xxl-2, .mt-xxl-2 {
        margin-top: .5rem;
    }
    .my-xxl-2, .mb-xxl-2 {
        margin-bottom: .5rem;
    }
    .mx-xxl-3, .ms-xxl-3 {
        margin-left: 1rem;
    }
    .mx-xxl-3, .me-xxl-3 {
        margin-right: 1rem;
    }
    .my-xxl-3, .mt-xxl-3 {
        margin-top: 1rem;
    }
    .my-xxl-3, .mb-xxl-3 {
        margin-bottom: 1rem;
    }
    .mx-xxl-4, .ms-xxl-4 {
        margin-left: 1.5rem;
    }
    .mx-xxl-4, .me-xxl-4 {
        margin-right: 1.5rem;
    }
    .my-xxl-4, .mt-xxl-4 {
        margin-top: 1.5rem;
    }
    .my-xxl-4, .mb-xxl-4 {
        margin-bottom: 1.5rem;
    }
    .mx-xxl-5, .ms-xxl-5 {
        margin-left: 3rem;
    }
    .mx-xxl-5, .me-xxl-5 {
        margin-right: 3rem;
    }
    .my-xxl-5, .mt-xxl-5 {
        margin-top: 3rem;
    }
    .my-xxl-5, .mb-xxl-5 {
        margin-bottom: 3rem;
    }
    .gap-xxl-1 {
        gap: 0.25rem;
    }
    .gap-xxl-2 {
        gap: 0.5rem;
    }
    .gap-xxl-3 {
        gap: 1rem;
    }
    .gap-xxl-4 {
        gap: 1.5rem;
    }
    .gap-xxl-5 {
        gap: 3rem;
    }
    .obituary-slider .swiper-slide {
        width: 300px;
    }
}